<div layout="row" layout-align="center center">

    <div layou="row" flex="25">

        <md-card class="pt-no-padding ">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <div flex layout="row" layout-align="space-between">
                        <div flex>
                            <md-button class="md-icon-button" aria-label="delete" ng-click="vm.confirmRemoveContact()">
                                <md-icon class="md-warn" md-svg-icon="../../../assets/icons/ic_delete_white_24px.svg"></md-icon>
                            </md-button>
                        </div>
                        <span flex></span>
                        <div flex layout="row" layout-align="end center">
                            <md-button class="md-icon-button" aria-label="edit" ng-click="vm.openEditContactDialg()">
                                <md-icon md-svg-icon="../../../assets/icons/ic_edit_white_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <md-card class="pt-no-margin" md-colors="::{backgroundColor: 'primary'}">
                <div flex layout="row" layout-align="center center">
                    <img style="width:150px" src="../../../assets/icons/ic_account_circle_white_36px.svg" alt="profile">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{vm.selectedContact.name}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>

            <md-card-content>
                <md-list flex>
                    <md-list-item class="md-2-line">
                        <md-icon md-svg-icon="../../../assets/icons/ic_phone_white_24px.svg"></md-icon>


                        <div class="md-list-item-text">
                            <h3>  Mobile </h3>
                            <p> {{ vm.selectedContact.phone}} </p>
                        </div>

                    </md-list-item>


                    <md-list-item class="md-2-line">
                        <md-icon md-svg-icon="../../../assets/icons/ic_email_primary_24px.svg"></md-icon>

                        <div class="md-list-item-text">
                            <h3> E-mail </h3>
                            <p> {{ vm.selectedContact.email}} </p>
                        </div>

                    </md-list-item>


                </md-list>

            </md-card-content>
        </md-card>
    </div>
    <div