<md-dialog flex-gt-md="25" aria-label="edit contact">
    <form name="editContactForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Editar contato</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="../../../assets/icons/ic_close_white_24px.svg" aria-label="close dialog" ng-click="closeDialg()"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <input type="text" name="name" md-autofocus ng-model="selectedContact.name" aria-label="contact name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="tel" name="phone" ng-model="selectedContact.phone" aria-label="contact phone" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="email" name="email" ng-model="selectedContact.email" aria-label="contact email" required>
                </md-input-container>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised" ng-click="confirmDialg(selectedContact)" ng-disabled="!editContactForm.$valid">
                Salvar
            </md-button>
            <span flex></span>
            <md-button ng-click="cancelDialg()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>