.pt-no-padding {
  padding: 0 !important; }

.pt-no-margin {
  margin: 0 !important; }

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed; }

.pt-clear-btn {
  margin-left: -35px !important;
  margin-bottom: 8px !important; }

.pt-fixed-toolbar {
  position: fixed; }

.pt-header-toolbar {
  height: 64px; }

.pt-subheader {
  height: 56px !important;
  max-height: 56px !important;
  min-height: 56px !important; }

.pt-fixed-toolbar.pt-subheader {
  top: 64px; }

.pt-content {
  margin-top: 128px; }

.pt-no-results {
  margin-top: 32px;
  padding: 16px;
  min-height: 300px;
  text-align: center;
  color: rgba(0, 0, 0, 0.38); }

.pt-search-box {
  margin-top: 16px;
  margin-bottom: 0; }
  .pt-search-box .md-input {
    padding-right: 24px !important; }

.pt-user-profile-avatar {
  position: fixed;
  top: 120px;
  max-height: 192px;
  height: 192px;
  width: 100%;
  z-index: 10; }

.pt-contact-profile-content {
  margin-top: 328px; }

.pt-search-toolbar {
  background-color: white !important; }
