.pt-no-padding {
  padding: 0 !important; }

.pt-no-margin {
  margin: 0 !important; }

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed; }

.pt-clear-btn {
  margin-left: -35px !important;
  margin-bottom: 25px !important; }

.pt-fixed-toolbar {
  position: fixed; }

.pt-header-toolbar {
  height: 64px; }

.pt-subheader {
  left: auto;
  right: auto; }

.pt-fixed-toolbar.pt-subheader {
  top: 64px;
  background: white !important;
  padding-top: 16px; }

.pt-content {
  margin-top: 128px; }

.pt-no-results {
  margin-top: 32px;
  padding: 16px;
  min-height: 300px;
  text-align: center;
  color: rgba(0, 0, 0, 0.38); }

.pt-search-box {
  margin-top: 0;
  margin-bottom: 0; }
  .pt-search-box .md-input {
    padding-right: 24px !important; }
