.pt-no-padding {
    padding: 0 !important;
}

.pt-no-margin {
    margin: 0 !important;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.pt-clear-btn {
    margin-left: -35px !important;
    margin-bottom: 8px!important;
}

.pt-fixed-toolbar {
    position: fixed;
}

.pt-header-toolbar {
    height: 64px;
}

.pt-subheader {
    height: 56px !important;
    max-height: 56px !important;
    min-height: 56px !important;
}

.pt-fixed-toolbar.pt-subheader {
    top: 64px;
    //    background: white !important;
    //    padding-top: 16px;
}

.pt-content {
    margin-top: 128px;
}

.pt-no-results {
    margin-top: 32px;
    padding: 16px;
    min-height: 300px;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
}

.pt-search-box {
    margin-top: 16px;
    margin-bottom: 0;
    .md-input {
        padding-right: 24px !important;
    }
}

$profileHeight:192px;
.pt-user-profile-avatar {
    position: fixed;
    top: 120px;
    max-height: $profileHeight;
    height: $profileHeight;
    width: 100%;
      z-index: 10;
}

.pt-contact-profile-content {
    margin-top: $profileHeight +56 +64 + 16;
  
}

.pt-search-toolbar {
    background-color: white !important;
}