<div layout="row" layout-align="center center">
    <div layout="column" flex=50>
        <div>
            <md-toolbar flex="50" class="pt-fixed-toolbar pt-subheader md-whiteframe-3dp pt-search-toolbar">
                <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
                    <md-input-container flex md-no-float class="md-block pt-search-box">
                        <input type="text" ng-model="vm.searchText" placeholder="Buscar contato">
                    </md-input-container>
                    <md-button class="md-icon-button pt-clear-btn" ng-click="vm.clearSearchText()">
                        <md-icon md-svg-icon="../../../assets/icons/ic_close_black_24px.svg">></md-icon>
                    </md-button>
                </div>

            </md-toolbar>
        </div>
        <md-card class="pt-content" flex="50">
            <md-card-content>
                <md-list flex>
                    <md-list-item ng-repeat="contact in vm.filteredContacts =(vm.contacts | filter: vm.searchText | orderBy: 'name' )" ng-click="null" ui-sref="app.contactDetails({id:contact._id})">
                        <div class="md-avatar" md-colors="{'backgroundColor': contact.avatarColor}">
                            <div layout="column" layout-align="center center">
                                <span class="md-title">{{contact.name[0]}}</span>
                            </div>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <p>{{ contact.name }}</p>
                        </div>
                    </md-list-item>
                </md-list>

                <div layout="column" layou-align="center center" class="pt-no-results">

                    <span ng-if="vm.filteredContacts.length === 0" class="md-title">Nenhum contato encontrado</span>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="vm.openAddContactDialg($event)">
        <md-icon class="md-warn" md-svg-icon="../../../assets/icons/ic_person_add_white_24px.svg"></md-icon>
    </md-button>
</div>