<md-dialog flex flex-gt-sm="50" flex-gt-md="25" aria-label="add contact">
    <form name="editContactForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adicionar novo contato</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelDialg()">
                    <md-icon class="material-icons" aria-label="close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <md-icon class="material-icons" aria-label="close dialog">person</md-icon>
                    <input type="text" name="name" md-autofocus ng-model="newContact.name" aria-label="contact name" placeholder="Nome" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon class="material-icons" aria-label="close dialog">phone</md-icon>
                    <input type="text" name="phone" ng-model="newContact.phone" aria-label="contact phone" ui-mask="(999)-999-999" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon class="material-icons" aria-label="close dialog">email</md-icon>
                    <input type="email" name="email" ng-model="newContact.email" aria-label="contact email" placeholder="E-mail" required>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions flex layout-gt-sm="row">
            <div flex layout="column">
                <md-button class="md-primary md-raised" ng-click="confirmDialg(newContact)" ng-disabled="!editContactForm.$valid">
                    Salvar
                </md-button>

                <div hide show-gt-sm flex flex-gt-xs="60" layout="column" ng-click="cancelDialg()">
                    <md-button ng-click="cancelDialg()">
                        Cancelar
                    </md-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>